.box {
  margin-top: 20px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  margin: 20px;
  margin-bottom: 5px;
  width: 10rem;
}

.box > * {
  vertical-align: center;
}

.likeBtn {
  cursor: grabbing;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3);
  color: #9db758;
  margin-top: 10px;
}

.likeP {
  font-family: monospace;
  font-size: 2rem;
}
