.App {
  text-align: center;
}

.App-header {
  background-color: #83a81e;
  height: 100px;
  padding: 20px;
  color: #5c7515;
  margin-bottom: 20px;
  font-size: 52px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.3);
  width: 65%;
  margin: auto;
  margin-bottom: 40px;
  padding: 15px;
}
