.box {
    box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.3);
    width: 50%;
    margin: auto;
    padding: 15px;
    color: red;
}

.box+.box {
    margin-top: 20px;
}

.box>* {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.img {
    display: inline-block;
}